@use "../abstracts/" as *;

// fluid typoghaphy calcultor (for clamp) https://royalfig.github.io/fluid-typography-calculator/
body {
  font-family: $font-family-base;
  font-size: $font-size-text-base;
}

h1 {
  font-size: $font-size-heading-1;
  font-weight: $font-weight-heading-1;
}

a {
  color: var(--link-color);
}

a:is(:hover, :focus) {
  color: var(--link-color-hover);
}