@use 'functions' as *;

// Layout
$wrapper-max-width: rem(1000);
$page-padding-inline: rem(16);
$grid-gap: rem(16);
$flex-gap: rem(16);
$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

// Line height
$line-height-base: 1.5;

// Font family
$font-family-base: 'Arial', sans-serif;

// Font size
$font-size-heading-1: clamp(2rem, 1.6rem + 2vw, 4rem);
$font-size-text-base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);

// Font weight
$font-weight-heading-1: 700;

// Border radius
$border-radius-1: rem(5);
$border-radius-2: rem(10);

// Box shadow
$box-shadow-1: 
  0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 
  0px 100px 80px rgb(0, 0, 0, 0.03);

// Components
$card-min-width: rem(50);

// variables naming inspiration https://github.com/kevin-powell/website-starter-template-v3-prefixed/blob/main/sass/abstracts/_tokens.scss