@use "../abstracts/" as *;

.grid-auto-fit {
  display: grid;
  gap: $grid-gap;
  grid-template-columns: repeat(auto-fit, minmax(min($card-min-width, 100%), 1fr));
  @include breakpoint(small) {
    grid-template-columns: repeat(1fr, minmax(min($card-min-width, 100%), 1fr));
  }
}